### File to not be tracked

# IntelliJ project files
.idea/*
out
.gitignore
*.txt

# Phyton
*.out
*.txt
fattie/*.pyc

# PLY
fattie/parsetab.py
# pyenv
.python-version

# Environments
.env
.venv
venv/*
ENV/
env.bak/

# Test files
test/*
*.ft

# Pycache
fattie/belly/__pycached__/
fattie/__pycached__/
__pycache__/*
fattie/core/__pycache__/
fattie/__pycache__/
