### File to not be tracked

# IntelliJ project files
.idea/*
out

Phyton
*.out

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/*
ENV/
env.bak/

# Test files
fattie/test/*

fattie/__pycache__/
fattie/core/__pycache__/
