### File to not be tracked

# IntelliJ project files
.idea/*
out

# Phyton
*.out
fattie/*.pyc

# PLY
fattie/parsetab.py
# pyenv
.python-version

# Environments
.env
.venv
env/
venv/*
ENV/
env.bak/

# Test files
test/*
*.ft
# Pycache
fattie/__pycache__/
fattie/core/__pycache__/
fattie/belly/__pycache__/
